<!doctype html>
<html ng-app="testApp">
  <head>
    <title>My Angular App</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <script src="../../dist/zip.min.js"></script>

  </head>
  <body ng-controller="MainController">
    <form>
      <input fileread="fileUpload" type="file" name="dicom">
      <input data-ng-click="logFile()" type="submit">
    </form>
    <ul>
      <li ng-repeat="file in files"><a href="{{file.url}}" download="{{file.filename}}">{{file.filename}}</a></li>
    </ul>
    <script src="./js/app.js"></script>
  </body>
</html>
